
{% extends 'base.html.twig' %}

{% block hero %}
<div class="container">
    <h1 class="mt-3 mb-4">Produits</h1>
    <div class="row">
        {% for p in produits %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/200x150" alt="{{ p.idP }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.Brand }}</h5>
                        
                        <div class="d-flex justify-content-between align-item-center">
                            <a type="button" class="btn btn-danger" href="{{path('cart_add',{id:p.idP})}}">++</a>
                            <h6>{{ p.brand }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block About %}{% endblock %}
{% block WhyUs %}{% endblock %}
{% block stats %}{% endblock %}
{% block menu %}{% endblock %}
{% block testimonial %}{% endblock %}
{% block events %}{% endblock %}
{% block booking %}{% endblock %}
{% block gallery %}{% endblock %}
{% block contact %}{% endblock %}
{% block chefs %}{% endblock %}